---
layout: archive
title: "Courses"
permalink: /courses/
author_profile: true
---

{% include base_path %}

{% for post in site.courses reversed %}
  {% include archive-single.html %}
{% endfor %}

<hr>

<h2>Other Courses Completed</h2>

<h3>Basic Science</h3>
<ul>
  <li>Mathematics I & II</li>
  <li>Physics I & II</li>
  <li>Chemistry</li>
  <li>Biology</li>
</ul>

<h3>Mechanics</h3>
<ul>
  <li>Engineering Mechanics</li>
  <li>Solid Mechanics (Intro and Advanced)</li>
  <li>Fluid Mechanics (Intro and Advanced)</li>
  <li>Control Systems</li>
  <li>Computer Aided Design</li>
  <li>Thermodynamics</li>
  <li>Heat Transfer</li>
  <li>Dynamics of Mechanical Systems</li>
  <li>Biomechanics</li>
  <li>Materials Science</li>
</ul>

<h3>Computing and Electronics</h3>
<ul>
  <li>Introduction to Computing</li>
  <li>Data Structures and Algorithms</li>
  <li>Numerical Methods and Computation</li>
  <li>Digital Electronics</li>
  <li>Finite Element Analysis</li>
  <li>Multiscale Modelling and Computation</li>
</ul>

<h3>Experimental</h3>
<ul>
  <li>Engineering Drawing</li>
  <li>Experiments in Solid Mechanics</li>
  <li>Experiments in Fluid Mechanics</li>
  <li>Materials Science Lab</li>
</ul>

<h3>Humanities</h3>
<ul>
  <li>Introduction to Economics</li>
  <li>Macroeconomics</li>
  <li>Science of Language and Communication</li>
  <li>History of Orality and Literature</li>
</ul>

